@import './../../utils/variblesAndMixins';
// 活动详情
.merchantActivities{
  height: 100vh;
  overflow-y: auto;
  >div{
    overflow-y: auto;
    >div{
      background: white;
    }
    >div:first-of-type{
      height: 384px;
      position: relative;
      .carousel{
        height: 100%;
        .my-carousel{
          height: 100% !important;
          .slider-frame{
            height: 100% !important
          }
        }
        img{
          height: 100%;
        }
      }
      >div:last-of-type{
        position: absolute;
        height: 80px;
        width: 100%;
        top: 40px;
        padding: 0 20px 0 20px;
        display: flex;
        align-items: center;
        a{
          display: inline-block;
          width: 46px;
          height: 46px;
          @include bg-image('../../images/activity/goBack');
        }
        span:first-of-type{
          flex: 1 1;
        }
        .collectionCondition{
          width: 80px;
        }
        i{
          display: inline-block;
          width: 46px;
          margin-left: 27px;
          height: 46px;
        }
        .uncollection{
          @include bg-image('../../images/activity/uncollection');
        }
        .collection{
          @include bg-image('../../images/activity/collection');
        }
        .share{
          @include bg-image('../../images/activity/share');
        }
      }
    }
    >div:nth-of-type(2){
      height: 124px;
      display: flex;
      padding: 20px 0 12px 20px;
      >div:first-of-type{
        width: 550px;
        display: flex;
        flex-direction: column;
        p{
          flex: 1 1;
          display: flex;
          align-items: center;
          span:last-of-type{
            margin-left: 20px;
          }
        }
        p:first-of-type{
          font-size: 28px;
          color: black;
          font-weight: 700;
        }
        p:last-of-type{
          i{
            display: inline-block;
            width: 28px;
            height: 20px;
          }
          .orangeStar{
            @include bg-image('../../images/activity/pentagram1');
          }
          .grayStar{
            @include bg-image('../../images/activity/pentagram2');
          }
          span{
            margin-left: 20px;
            font-size: 22px;
            color: #9E9E9E;
          }
        }
      }
      >div:last-of-type{
        flex: 1 1;
        display: flex;
        flex-direction: column;
        p{
          flex: 1 1;
          display: flex;
          align-items: center;
        }
        p:first-of-type{
          >i{
            display: inline-block;
            width: 4vw;
            height: 4vw;
            margin-right: 10px;
          }
          .goldmedal{
            @include bg-image('../../images/activity/goldmedal');
          }
          .silvermedal{
            @include bg-image('../../images/activity/silvermedal');
          }
          .bronzemedal{
            @include bg-image('../../images/activity/bronzemedal');
          }
          span{
            font-size: 26px;
          }
        }
        p:last-of-type{
          >i{
            width: 27px;
            height: 27px;
            vertical-align: middle;
            margin-right: 10px;
            @include bg-image('../../images/activity/willpointblue');
          }
          span{
            font-size: 26px;
            color: #4DA9FA
          }
        }
      }
    }
  }
}
.merchantContent{
  height:700px!important;
  background: white;
  border-radius: 10px;
  margin: 20px;
  overflow: hidden;
  .merchantItemContent{
    margin: 20px;
    height: auto!important;
    overflow-y: hidden;
    li{
      width: 123.33333vw;
      overflow: hidden;
      display: flex;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
    }
    .swipeleft{
      position: relative;
      transform: translateX(-29.33333vw);
      -webkit-transform: translateX(-29.33333vw);
    }
    .operate{
      width: 20vw;
      display: flex;
      padding-top: 10px;
      padding-bottom: 20px;
      .am-button{
        width:10vw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .merchantItem{
      display: flex;
      padding: 10px;
      border-bottom: $grayBorderBottom;
      width: 80%;
      >div:first-of-type{
        padding-top: 10px;
        width: 46vw;
        p{
          margin-bottom: 6px;
        }
        p:first-of-type{
          font-size: 26px;
          color: #363636;
          font-weight: 600;
        }
        p:nth-of-type(2){
          i{
            display: inline-block;
            width: 28px;
            height: 20px;
          }
          .orangeStar{
            @include bg-image('../../images/activity/pentagram1');
          }
          .grayStar{
            @include bg-image('../../images/activity/pentagram2');
          }
          span{
            margin-left: 20px;
            font-size: 22px;
            color: #9E9E9E;
          }
        }
        p:nth-of-type(3){
          i{
            display: inline-block;
            width: 28px;
            height: 20px;
            @include bg-image('../../images/activity/willpointblue');
          }
          span{
            margin-left: 16px;
            font-size: 22px;
            color: #9E9E9E;
          }
        }
        p:last-of-type{
          margin-top: 10px;
          font-size: 22px;
          color: #9E9E9E;
        }
      }

      >div:nth-of-type(2){
        width:298px;
        text-align: right;
        .bonusequal{
          flex: 1 1;
          margin-left: 8vw;
          height: 65%;
          @include bg-image('../../images/activity/bonusequal');
        }
        p{
          i{
            display: inline-block;
            vertical-align: middle;
            width:26px;
            height:26px;
            margin-right: 18px;
          }
          span{
            font-size: 22px;
            color: #797979;
            span{
              font-size: 28px;
              margin: 0 5px 0 5px;
            }
            .rmb{
              display: inline-block;
              font-size: 24px;
              margin: 0;
              -webkit-transform:scale(0.8);
              color: #797979!important;
            }
          }
        }
        p:last-of-type{
          text-align: right;
          margin-top: 5px;
          font-size: 22px;
          color: #9E9E9E;
        }
        .radiu_1{
          i{
            @include bg-image('../../images/activity/radiu_1');
          }
          span{
            span{
              color: #FFBF6C
            }
          }
        }
        .radiu_2{
          i{
            @include bg-image('../../images/activity/radiu_2');
          }
          span{
            span{
              color: #8AD9CA
            }
          }
        }
        .radiu_3{
          i{
            @include bg-image('../../images/activity/radiu_3');
          }
          span{
            span{
              color: #EEB1B3
            }
          }
        }
      }
    }
  }
}
.mechantBtn{
  height: 80px;
  margin-top: 20px;
  background: white;
  ul{
    height: 100%;
    display: flex;
    li{
      flex: 1 1;
      line-height: 80px;
      text-align: center;
      color: #4DA9FA;
      font-size: 24px;
    }
  }
}
#merchantSetting {
  .inputs{
    height: 1005px;
    overflow: auto;
    background: #fff;
  }

	.timePick > div {
    width: 100%;

    &>span {
      display: inline-block;
      width: 50%;
      font-size: 3.73333vw;
      color: #333;
      padding-left: 5.73333vw;
      border-bottom: 1px solid #ebebeb;
      line-height: 11.73333vw;
      box-sizing: border-box;
    }

    &>div {
      width: 50%;
      display: inline-block;
    }
	}

	.timePick {
    overflow: hidden;

		.am-list-item .am-list-line .am-list-extra {
			flex-basis: 80%;
			text-align: left;
		}
  }

  .imagePickTitle{
    padding-left: 5.73333vw;
    font-size: 3.73333vw;
    line-height: 88px;
    color: #333;
  }
}

//改antd-mobile弹出input样式
.am-modal-transparent {
	width: 500px !important;
}

.am-modal-transparent .am-modal-content {
	border-radius: 14px !important;
	padding-top: 30px !important;
}

.am-modal-header {
	padding: 12px 30px 30px !important;
}

.am-modal-transparent .am-modal-content .am-modal-body {
	padding: 0 30px 30px !important;
}

.am-modal-body {
	font-size: 30px !important;
}

.am-modal-title {
	font-size: 36px !important;
}

.am-modal-button-group-h .am-modal-button {
	font-size: 36px !important;
	height: 100px !important;
	line-height: 100px !important;
}

.am-modal-input input {
	height: 68px !important;
}

.am-modal-input {
	height: 72px !important;
}

.am-modal-input-container {
	margin-top: 18px !important;
	border-radius: 6px !important;
}
