.login{
  height: 100vh;
  background: white;
  text-align: center;
  .login-logo{
		width: 180px;
		height: 180px;
		background: #14daff;
		border-radius: 30px;
		margin: 0 auto;
		margin-top: 250px;
  }
}