@import "./../../utils/variblesAndMixins";

.myContainer{
  height: 1236px;
  .setting{
    position: absolute;
    top: 70px;
    right: 20px;
    font-size: 30px;
    color: #fff;
  }
  .userInfo{
    height: 503px;
    border-bottom: $grayBorderBottom;
    padding-top: 128px; 
    @include bg-image('../../images/myInfo/icon_my_bg');
    background-position: top center;
    background-color: #fff;

    //用户头像和用户名称
    .userAvatar{
      width: 132px;
      height: 181px;
      margin: 0 auto;
      text-align: center;

      .img{
        width: 132px;
        height: 132px;
        background: #f7f6f4;
        border-radius: 50%;
        position: relative;

        img{
          width: 120px;
          height: 120px;
          border-radius: 50%;
          display: inline-block;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
        }
      }

      .userName{
        font-size: 28px;
        line-height: 28px;
        text-align: center;
        font-weight: bold;
        margin-top: 20px;
      }
    }

    //收藏、参与、最近浏览
    .userAction{
      margin-top: 50px;
      ul{
        @include flexHorizen;

        li{
          width: 33.333%;
          text-align: center;

          .icon{
            display: inline-block;
            width: 60px;
            height: 60px;
            vertical-align: top;
          }

          p{
            font-size: 24px;
            line-height: 24px;
            color: #323232;
            margin-top: 15px;
          }
        }

        li:nth-child(1) {
          .icon{
            @include bg-image('../../images/myInfo/icon_collection');
          }
          box-sizing: border-box;
          padding-left: 40px;
        }

        li:nth-child(2) {
          .icon{
            @include bg-image('../../images/myInfo/icon_bulb');
          }
        }

        li:nth-child(3) {
          .icon{
            @include bg-image('../../images/myInfo/icon_resentView');
          }
          box-sizing: border-box;
          padding-right: 40px;
        }
      }
    }
  }

  //银行卡、钱包、卷
  .money_related{
    height: 152px;
    background: #fff;
    margin-bottom: 20px;
    
    ul{
      @include flexHorizen;
      height: 100%;
      
      li{
        width: 33.333%;
        height: 100%;
        text-align: center;
        a{
          width: 100%;
          height: 100%;
          display: inline-block;
        }
        .icon{
          display: inline-block;
          width: 41px;
          height: 41px;
          vertical-align: top;
          margin-top: 18px;
        }

        p{
          font-size: 24px;
          line-height: 24px; 
        }

        p.title{
          color: #323232;
          margin-top: 13px;
        }

        p.count{
          color: #999;
          margin-top: 22px;
        }
      }

      li:nth-child(1) .icon{
        @include bg-image('../../images/myInfo/icon_bankCord');
      }

      li:nth-child(2) .icon{
        @include bg-image('../../images/myInfo/icon_currency');
      }

      li:nth-child(3) .icon{
        @include bg-image('../../images/myInfo/icon_Voucher');
      }
    }
  }

  //商家认证、员工认证
  .certification{
    margin-bottom: 20px;
    background: #fff;

    ul{
      li{
        height: 89px;
        line-height: 88px;
        padding-left: 34px;
        font-size: 26px;
        border-bottom: $grayBorderBottom;

        a{
          width: 100%;
          height: 100%;
          display: inline-block;
          color: #323232;

          span{
            float: right;
            font-size: 33px;
            color: #a3a3a3;
            margin-right: 29px;
          }
        }
        
      }

      li:last-child{
        border-bottom: none;
        height: 88px;
      }
    }
  }

  //修改密码、关于我们、用户反馈
  .otherOperate{
    @extend .certification;
  }

  //退出登陆
  .signOut{
    background: #fff;
    height: 77px;
    text-align: center;
    line-height: 77px;
    font-size: 26px;
    color: #4ca8fb;
  }
}

//去掉滑动报错
* { touch-action: pan-y; } 

//顶部导航栏
.topNavBar{
  height: 128px;
  padding-top: 40px;
  background: #fff;
  margin-bottom: 18px;
  
  .am-navbar{
    height: 88px;
    
    //返回箭头
    .icon-jiantou1{
      font-size: 30px;
      color: #6f6f6f;
      transform: rotate(180deg);
      font-weight: bold;
      position: relative;
      left: 8px;
    }

    //导航标题
    .am-navbar-title{
      font-size: 34px;
    }

    //右侧确认
    .am-navbar-right{
      margin-right: 20px;
      .sureBtn{
        font-size: 30px;
        color: #333;
      }
    }
  }
}

//选择银行卡
.chooseBankCard{
  .cardBox{
    height: 1188px;

    //银行卡列表
    .card{
      height: 1091px;
      overflow: auto;
      
      .swipeAction {
        overflow: hidden;
        background: #fff;

        li{
          overflow: hidden;
          width: 850px;
          border-bottom: $grayBorderBottom;

          &:last-child{
            border-bottom: none;
          }

          span{
            display: block;
            width: 850px;
            height: 126px;
            line-height: 126px;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            position: relative;

            .content{
              width: 750px;
              height: 100%;
              box-sizing: border-box;
              padding: 0 30px;
              @include flexHorizen;

              .img{
                width: 66px;
                height: 66px;

                img{
                  width: 100%;
                  height: 100%;
                  display: block;
                }
              }

              .bankInfo{
                position: relative;
                left: -145px;
                .bankName{
                  font-size: 28px;
                  line-height: 28px;
                  margin-bottom: 22px;
                }

                .cardNum{
                  font-size: 24px;
                  line-height: 24px;
                  color: #999;
                }
              }

              .bankBranch{
                font-size: 24px;
                line-height: 24px;
              }
            }

            i{
              width: 100px;
              height: 126px;
              text-align: center;
              background-color: #fff;
              position: absolute;
              top: 0;
              right: 0;
              @include bg-image('../../images/myInfo/icon_delete');
              background-size: 32px 32px;
            }
          }
        }
      }

      .swipeleft {
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
      }
    }

    //新增银行卡
    .addCard{
      @include submitBtn;
    }
  }
}

//新增银行卡
.newBankCard{
  .inputsBox{
    .am-list:nth-child(1){
      margin-bottom: 28px;
    }

    @include formStyle;
  }
}

.am-picker-popup{
  height: 478px;

  .am-picker-popup-content, .am-picker-popup-body, .am-picker-popup-body>div{
    height: 100%;
  }
  
  .am-picker-popup-header{
    height: 88px;
    background: #4ba9fa;
    
    .am-picker-popup-item{
      color: #fff;
      font-size: 33px;
    }
  }



  .am-picker-col-item {
    font-size: 30px;
    line-height: 60px;
    height: 60px;
    transition: all 0.1s linear;
  }

  .am-picker-col-indicator {
    height: 60px;
  }

  .am-picker-col-item-selected{
    font-size: 36px;
  }

  .am-picker-col-mask,
  .am-picker-col{
    height: 390px;
  }

  .am-picker-col-content{
    height: 500px;
  }
}

//钱包
.walletContainer{
  height: 1334px;

  .walletTop{
    height: 436px;
    background: linear-gradient(top, #6ebcff, #4baafa);

    //钱包页面底部导航
    .nav{
      @extend .topNavBar;
      @include flexHorizen;
      color: #fff;
      background: transparent;

      .icon-jiantou1{
        font-size: 30px;
        color: #fff;
        transform: rotate(180deg);
        font-weight: bold;
        position: relative;
        left: 14px;
      }

      .walletTitle{
        font-size: 34px;
        margin-left: 55px;
      }

      .withdrawRecord{
        font-size: 30px;
        margin-right: 20px;

        a{
          color: #fff;
        }
      }
    }
    
    .remainCash{
      font-size: 30px;
      color: #fff;
      line-height: 30px;
      margin-top: 38px;

      i{
        width: 21px;
        height: 25px;
        display: inline-block;
        @include bg-image('../../images/myInfo/icon_currency_white');
        vertical-align: middle;
        margin: 0 16px 0 45px;
      }

      span{
        vertical-align: middle;
      }
    }

    .cashNumber{
      font-size: 103px;
      color: #fff;
      line-height: 103px;
      margin-top: 60px;
      margin-left: 30px;

      span{
        font-size: 26px;
      }
    }
  }

  //收入记录
  .incomeRecord{
    height: 36px;
    background: #f5f5f5;
    color: #999;
    font-size: 20px;
    line-height: 36px;
    text-align: center;
  }

  //收入列表
  .recordList{
    background: #fff;
    height: 764px;
    padding: 0 20px 0 17px;
    overflow: auto;

    li{
      height: 126px;
      border-bottom: 1px solid #e6e6e6;
      @include flexHorizen;

      //商家图片
      .img{
        width: 74px;
        height: 74px;

        img{
          width: 100%;
          height: 100%;
          display: block;
        }
      }

      //商家、活动名称
      .merchantName{
        font-size: 28px;
        line-height: 28px;
        position: relative;
        right: 146px;

        .merchant{
          color: #333;
        }

        .activity{
          color: #999;
          margin-top: 20px;
        }
      }

      //时间和金钱
      .numberDate{
        p{
          text-align: right;
          margin-right: 10px;
        }

        .money{
          font-size: 32px;
          color: #333;
          line-height: 32px;

          span{
            font-size: 24px;
            line-height: 24px;
          }
        }

        .date{
          font-size: 20px;
          color: #999;
          line-height: 20px;
          margin-top: 25px;
        }
      }
    }
  }

  .withdrawBtn{
    @include submitBtn;
  }
}

//提现记录
.withdrawRecord{
  .topNavBar{
    margin-bottom: 0;
  }

  //总提现和日期
  .totalAndDate{
    height: 60px;
    background: #f6f6f6;
    @include flexHorizen;
    font-size: 26px;
    color: #999;
    line-height: 60px;
    padding: 0 20px;

    .totalWithdraw{
      span{
        margin-left: 12px;
      }
    }

    .date{
      position: relative;
      padding-right: 55px;

      .am-icon{
        margin-top: 20px;
      }
    }
  }

  //提现记录
  .withDrawList{
    background: #fff;
    overflow: auto;
    max-height: 1145px;

    li{
      height: 126px;
      @include flexHorizen;

      &:last-child{
        .content{
          border-bottom: none;
        }
      }

      @include imgSize(8.533vw, 8.533vw, 2.667vw);

      .content{
        width: 636px;
        height: 100%;
        @include flexHorizen;
        padding: 0 20px 0 16px;
        border-bottom: 1px solid #e6e6e6;

        //商家、活动名称
        .bankInfo{
          font-size: 26px;
          line-height: 26px;

          .whichBank{
            color: #333;

            span{
              font-size: 20px;
              color: #999;
              margin-left: 10px;
            }
          }

          .cardNumber{
            color: #999;
            margin-top: 18px;
            font-size: 18px;
          }
        }

        //时间和金钱
        .numberProcess{
          p{
            text-align: right;
            margin-right: 10px;
          }

          .money{
            font-size: 26px;
            color: #333;
            line-height: 26px;

            span{
              font-size: 24px;
              line-height: 24px;
            }
          }

          .process{
            font-size: 20px;
            color: #999;
            line-height: 20px;
            margin-top: 20px;
          }
        }
      }
    }
  }
}

//提现页面
.withdrawCash{
  .withdrawInputBox{
    height: 302px;
    background: #fff;

    //银行选择
    .bankChoose{
      height: 88px;
      border-bottom: 1px solid #e6e6e6;
      a{
        width: 100%;
        height: 100%;
        display: inline-block;
        @include flexHorizen;

        .img{
          width: 45px;
          height: 45px;
          margin-left: 35px;
  
          img{
            width: 100%;
            height: 100%;
            display: block;
          }
        }
  
        .bankName{
          position: relative;
          right: 153px;
          font-size: 28px;
          color: #333;
        }
  
        .am-icon{
          margin-right: 12px;
        }
      }
    }

    //提现金额输入
    .withdrawInput{
      @include flexHorizen;
      height: 126px;
      border-bottom: 1px solid #e6e6e6;
      box-sizing: border-box;
      padding: 0 20px 0 40px;

      .iconRMB{
        font-size: 36px;
        color: #333;
      }

      .input{
        font-size: 28px;
        line-height: normal;
        flex: 1;
        &:focus{
          color: #8b8791;
        }

        .am-list-body::after,
        .am-list-body::before{
          height: 0;
        }
        
        .fake-input{
          font-size: 40px;
          height: 40px;
        }
      }

      .withdrawAll{
        font-size: 24px;
        color: #ffbf6c;
      }
    }

    //总金额和手续费
    .totalAndFee{
      height: 88px;
      line-height: 88px;
      font-size: 24px;
      box-sizing: border-box;
      padding-left: 30px;

      .tips{
        color: #989898;
      }
    }
  }

  //确认提现按钮
  .sureWithdraw{
    width: 690px;
    height: 90px;
    background: #4ba9fa;
    color: #fff;
    font-size: 36px;
    line-height: 90px;
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    margin-top: 74px;
  }
}

//提现选择银行卡
.selectBankCard{
  .cardBox{
    background: #fff;
    overflow: auto;
    max-height: 1184px;

    ul{
      box-sizing: border-box;
      padding-left: 30px;
      
      li{
        height: 126px;
        @include flexHorizen(flex-start);
        @include imgSize(8.533vw, 8.533vw, 0);
        border-bottom: $grayBorderBottom;
        position: relative;

        &:last-child{
          border-bottom: none;
        }

        .bankInfo{
          margin-left: 33px;
          .bankName{
            font-size: 28px;
            color: #333;
          }

          .cardNumber{
            font-size: 24px;
            color: #999;
          }
        }

        &.active{
          .onSelect{
            width: 32px;
            height: 32px;
            @include bg-image('../../images/myInfo/icon_onSelect');
            position: absolute;
            right: 30px;
            top: 50%;
            margin-top: -16px;
          }
        }
      }
    }
  }
}

//商家认证
.bussinessAuthentication{
  width: 100vw;
  height: 100vh;

  .AuthenticationBox{
    .inputs{
      height: 528px;
      margin-bottom: 20px;
    }

    .imgs{
      height: 476px;
      background: #fff;
    }
  }
}

//员工认证
.staffAuthentication{ 
  .inputs{
    height: 264px;
    margin-bottom: 20px;
  }
  .imgs{
    background: #fff;
    padding-bottom: 40px;
  }

  .inputs .am-list .am-list-item .am-list-line .am-list-extra{
    text-align: center !important;
  }
}

//商家和个人公用样式
.bussinessAndStaff{
  .AuthenticationBox{
    height: 1186px;
    position: relative;

    .submitBtn{
      @include submitBtn;
    }

    .inputs{
      background: #fff;

      .am-list{
  
        .am-list-body::after,
        .am-list-body::before{
          height: 0;
        }
  
        .am-list-item{
          height: 88px;
          border-bottom: $grayBorderBottom;
          width: 520px;
          margin: 0 auto;
  
          input{
            text-align: center;
            font-size: 28px;
          }
  
          .am-list-line{
            .am-list-extra{
              text-align: left;
              font-size: 28px;
              flex-basis: 170%;
              color: #000;
            }
          }

          .am-input-clear{
            width: 4.5vw;
            height: 4.5vw;
            background-position: 0.46667vw 0.46667vw;
            background-size: 4.5vw auto; 
          }
        }
  
        .timePick, .regionPicker{
          div{
            width: 50%;
            float: left;
            
            &:first-child{
              .am-list-item{
                float: right;
              }
            }
  
            .am-list-item{
              width: 70%;
            }
          }
        }
      }
    }
  
    .imgs{
      .identity{
        width: 610px;
        height: 210px;
        margin: 0 auto;
        padding-top: 40px;
        @include flexHorizen;
  
        .img{
          width: 276px;
          height: 100%;
          position: relative;
  
          &:last-child{
            margin-right: 0;
          }
  
          input{
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 2;
            position: relative;
          }
  
          .preview{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
  
          /*
          &.positive .preview{
            @include bg-image('../../images/myInfo/identity_positive');
          }
  
          &.reverse .preview{
            @include bg-image('../../images/myInfo/identity_reverse');
          }
          */
        }
      }
  
      .bussinessLicence{
        margin-top: 54px; 
        height: 170px;
  
        .licence{
          width: 276px;
          height: 100%;
          margin: 0 auto;
          position: relative;
  
          input{
            width: 100%;
            height: 100%;
            opacity: 0;
            z-index: 2;
            position: relative;
          }
  
          .preview{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
          }
        }
      }
    }
  }
}

//antd-mobile数字键盘样式修改
.am-number-keyboard-wrapper{
  height: 51.86667vw !important;
  table{
    tbody{
      tr{
        .am-number-keyboard-item{
          padding: 2.8vw 0;
          font-weight: 900;
          font-size: 5vw !important;

          i{
            font-weight: 900;
            font-size: 5vw !important;
          }
        }

        .keyboard-delete{
          background-size: 14.4vw 3.46667vw !important;
        }
      }
    }
  }
}

//antd-mobile图片选择器删除图片按钮样式
.am-image-picker{
  .am-image-picker-item-remove{

  }
}

//修改密码
.changePassword{
  @include formStyle;

  .submitBtn{
    @include submitBtn;
  }
}

//关于我们
.aboutUs{
  text-align: center;
  .logo{
    width: 180px;
    height: 180px;
    background: #14daff;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 100px;
  }

  .desc{
    font-size: 38px;
    margin: 10px 0;
  }
  
  .edition{
    border: 1px solid #ccc;
    font-size: 20px;
    line-height: 20px;
    padding: 5px 20px;
    border-radius: 20px;
  }

  .copyRight{
    position: absolute;
    bottom: 20px;
    width: 100%;
    font-size: 24px;
  }
}

//用户反馈
.userFeedBack{
  @include formStyle;
  .am-list {
    .am-list-item{
      padding-left: 0
    }
  }
  
  .inputs{
    background: #fff;
    margin-bottom: 20px;

    .textarea{
      textarea{
        width: 100%;
        max-height: 180px;
        font-size: 30px;
        border: none;
        line-height: 1.5;
        overflow: scroll;
      }
    }

    .imagePick{
      position: relative;
      .tips{
        position: absolute;
        left: 30%;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        color: #ccc;
      }
    }
  }
  
  .submitBtn{
    @include submitBtn;
  }
}

//设置
.setting{
  @include formStyle;
  .justifyItem{
    text-align: left !important;
  }
  .am-list .am-list-item .am-list-line .am-list-extra{
    left: auto; 
    position: static;
    font-size: 28px;
    flex-basis: 50%;
  }

  .am-list .am-list-item .am-list-line{
    padding-left: 0;
    padding-right: 7px;
  }

  .am-list-item .am-list-line .am-list-arrow{
    width: 8vw;
    height: 4vw;
    color: #6f6f6f;
    background-image: url(../../images/myInfo/icon_arrow_left.png)
  }
  .item{
    font-size: 28px;
    height: 88px;
    background: #fff;
    color: #333;
    @include flexHorizen;
    border-bottom: $grayBorderBottom;

    .title{
      margin-left: 43px;
    }

    .content{
      flex: 1;
      text-align: right;
      padding-right: 30px;
    }

    .icon-jiantou1{
      font-size: 30px;
      margin-right: 20px;
    }
  }

  .avatarBox{
    height: 150px;
    margin-bottom: 30px;
    position: relative;

    #avatarUpload{
      width: 100%;
      height: 100%;
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
    }

    .content{
      #showAvatar{
        width: 80px;
        height: 80px;
        border-radius: 50%;
      }
    }
  }
}

//设置详情
.settingInput{
  @include formStyle;

  .tips{
    color: #999;
    line-height: 60px;
    padding-left: 65px;
    font-size: 24px;
  }

  .submitBtn{
    @include submitBtn;
  }
}

//发送验证码
.sendCode{
  background: #1981da;
  padding: 11px;
  font-size: 3.33333vw;
  line-height: 30px;
}

.sendCode.disabled{
  background: #ccc;
  pointer-events: none;
}

//修改antd-mobie input警告样式
.am-list-item.am-input-error .am-input-error-extra{
  height: 4.5vw !important;
  width: 4.5vw !important;
  background-size: 4.5vw auto !important;
}

//修改antd-mobie toast弹出样式
.am-toast-notice-content .am-toast-text{
  padding: 3vw 3vw !important;
  font-size: 20px;
}

.am-list-item.am-input-error .am-input-control input{
  color: #000 !important;
}

//修改antd-mobile 侧滑删除字体大小
.am-swipe .am-swipe-actions .am-swipe-btn  .am-swipe-btn-text{
  font-size: 24px !important;
}