@import "./../../utils/variblesAndMixins";

$normalFontSize: 30px;
$normalFontSize28: 28px;
$normalFontSize26: 26px;
$normalFontSize24: 24px;
.acticityCommon{
  height: 100%;
  background: #ffffff;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  .activityCondition{
    height: 443px;
    .activityKb{
      height: 40px;
      background: #4AA9F9;
    }
    .activityHeader{
      height: 97px;
      background: #4AA9F9;
      display: flex;
      justify-content: center;
      align-items:center;
      > div:first-of-type{
        padding-left: 2px;
        flex: 1 1;
        display: flex;
        justify-content: center;
        align-items: center;
        .positionIcon{
          @include bg-image('../../images/activity/position');
          width: 25px;
          height: 36px;
        }
        span{
          font-size: $normalFontSize26;
          margin-left: 2vw;
          color: white;
        }
      }
      > div:last-of-type{
        width: 540px;
        height: 60px;
        padding-right: 22px;
      }
    }
    .activityLevel{
      height: 196px;
      margin-top: 20px;
      background: white;
      .activityLevel1{
        height: 124px;
        border-bottom: $grayBorderBottom;
        ul{
          display: flex;
          height: 124px;
          justify-content: center;
          align-items: center;
          li{
            flex: 1 1;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            i{
              width: 51px;
              height: 45px;
            }
            p{
              line-height: 55px;
              margin-top: 8px;
              font-size: $normalFontSize;
              color: #9E9E9E;
              height: 65px;
              padding: 0 5px 0 5px;
            }
          }
          .level1Active{
            p{
              color : #383838;
              border-bottom: 6px solid #4DA9FA
            }
          }
          #XMS{
            i{
              @include bg-image('../../images/activity/lollipop');
            }
          }
          #HSH{
            i{
              @include bg-image('../../images/activity/bicycle');
            }
          }
          #AWL{
            i{
              @include bg-image('../../images/activity/babyball');
            }
          }
          #allLevel{
            i{
              @include bg-image('../../images/activity/aerospace');
            }
          }
          #ZJD{
            i{
              @include bg-image('../../images/activity/hotail');
            }
          }
        }
      }
      .activityLevel2{
        width: 100vw;
        height: 67px;
        overflow-x: hidden;
        ul{
          //width: 2000px;
          li{
            font-size: $normalFontSize;
            color: #9E9E9E;
            display: inline-block;
            line-height: 67px;
            height: 67px;
            margin-left: 30px;
            text-align: center;
          }
          .level2Active{
            font-weight: 700;
            color: black;
          }
        }
      }
      .activityKbGray{
        height: 18px;
        background: #F6F6F6
      }
      .activityLevel3{
        height: 84px;
        line-height: 84px;
        .downArrow{
          display: inline-block;
          width: 18px;
          height: 10px;
          @include bg-image('../../images/activity/ArrowImg');
        }
        ul{
          display: flex;
          li:nth-of-type(2){
            flex: 1 1;
            padding-left: 40px;
          }
          li:first-of-type{
            text-align: center;
            width: 180px;
          }
          li:last-of-type{
            width: 230px;
          }
          li{
            position: relative;
            font-size: $normalFontSize;
            >i{
              display: inline-block;
              width: 4vw;
              height: 4vw;
              margin-right: 10px;
            }
            .goldmedal{
              @include bg-image('../../images/activity/goldmedal');
            }
            .silvermedal{
              @include bg-image('../../images/activity/silvermedal');
            }
            .bronzemedal{
              @include bg-image('../../images/activity/bronzemedal');
            }
          }
        }
      }
    }
  }
}
// 活动详情
.activityInfo{
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  .activityInfoContainer{
    overflow-y: auto;
    height:calc(100vh - 100px);
    height: -moz-calc(100vh - 100px);
    height: -webkit-calc(100vh - 100px);
    >div{
      background: white;
    }
    >div:first-of-type{
      height: 374px;
      position: relative;
      .carousel{
        height: 100%;
        .my-carousel{
          height: 100% !important;
          .slider-frame{
            height: 100% !important;
            .slider-list{
              height: 100% !important;
              li{
                height: 100% !important;
              }
            }
          }
          img{
            height: 100%;
          }
        }
      }
      >div:last-of-type{
        position: absolute;
        height: 80px;
        width: 100%;
        top: 40px;
        padding: 0 20px 0 20px;
        display: flex;
        align-items: center;
        a{
          display: inline-block;
          width: 46px;
          height: 46px;
          @include bg-image('../../images/activity/goBack');
        }
        span:first-of-type{
          flex: 1 1;
        }
        .collectionCondition{
          width: 120px;
          display: none;
          font-size: 13px;
          padding: 5px 10px 5px 10px;
          background: white;
          border-top-left-radius: 20px;
          border-bottom-left-radius: 20px;
          border: 1px solid $grayBorderBottom

        }
        i{
          display: inline-block;
          width: 46px;
          margin-left: 27px;
          height: 46px;
        }
        .uncollection{
          @include bg-image('../../images/activity/uncollection');
        }
        .collection{
          @include bg-image('../../images/activity/collection');
        }
        .share{
          @include bg-image('../../images/activity/share');
        }
      }
      .activityInfoFooter{
        position: fixed;
        
      }
    }
    >div:nth-of-type(2){
      height: 124px;
      display: flex;
      padding: 20px 0 12px 20px;
      >div:first-of-type{
        width: 550px;
        display: flex;
        flex-direction: column;
        p{
          flex: 1 1;
          display: flex;
          align-items: center;
          span:last-of-type{
            margin-left: 20px;
          }
        }
        p:first-of-type{
          font-size: 28px;
          color: black;
          font-weight: 700;
        }
        p:last-of-type{
          i{
            display: inline-block;
            width: 28px;
            height: 20px;
          }
          .orangeStar{
            @include bg-image('../../images/activity/pentagram1');
          }
          .grayStar{
            @include bg-image('../../images/activity/pentagram2');
          }
          span{
            margin-left: 20px;
            font-size: 22px;
            color: #9E9E9E;
          }
        }
      }
      >div:last-of-type{
        flex: 1 1;
        display: flex;
        flex-direction: column;
        p{
          flex: 1 1;
          display: flex;
          align-items: center;
        }
        p:first-of-type{
          >i{
            display: inline-block;
            width: 4vw;
            height: 4vw;
            margin-right: 10px;
          }
          .goldmedal{
            @include bg-image('../../images/activity/goldmedal');
          }
          .silvermedal{
            @include bg-image('../../images/activity/silvermedal');
          }
          .bronzemedal{
            @include bg-image('../../images/activity/bronzemedal');
          }
          span{
            font-size: 26px;
          }
        }
        p:last-of-type{
          >i{
            width: 27px;
            height: 27px;
            vertical-align: middle;
            margin-right: 10px;
            @include bg-image('../../images/activity/willpointblue');
          }
          span{
            font-size: 26px;
            color: #4DA9FA
          }
        }
      }
    }
    >div:nth-of-type(3){
      height: 76px;
      margin-top: 15px;
      padding: 0 100px 0 100px;
      ul{
        display: flex;
        align-items: center;
        li{
          flex: 1 1;
          height: 76px;
          display: flex;
          align-items: center;
          justify-content: center;
          span{
            display: inline-block;
            height: 75px;
            line-height: 75px;
            font-size: 28px;
            font-weight: 600;
            color: #9E9E9E;
          }
        }
        .tabActive{
          span{
            color: #4DA9FA;
            border-bottom: 2px solid #4DA9FA;
          }

        }
      }
    }
    //活动详情内容
    .activityInfoContent{
      background: #F1F1F1;
      >div{
        background: white;
      }
      >div:nth-of-type(1){
        height: 178px;
        margin: 20px;
        border-radius: 10px;
        padding: 20px;
        p:first-of-type{
          height: 44px;
          line-height: 44px;
        }
        span:first-of-type{
          font-size: $normalFontSize26;
          color: #9E9E9E;
          margin-right: 10px;
        }
        span:last-of-type{
          font-size: $normalFontSize26;
          color: #363636
        }
        p:last-of-type{
          display: flex;
          span:first-of-type{
            //width: 120px;
          }
          span:last-of-type{
            flex: 1 1;
            padding-right: 20px;
          }
        }
      }
      >div:nth-of-type(2){
        height: 180px;
        border-radius: 10px;
        margin: 22px 20px 0 20px;
        padding: 20px;
        display: flex;
        >div:first-of-type{
          width: 272px;
          div{
            height: 87px;
            display: flex;
            justify-content: center;
            align-items:flex-end;
            padding-bottom: 10px;
            span{
              vertical-align: middle;
              display: inline-block;
              width: 52px;
              height:54px;
              @include bg-image('../../images/activity/trophy');
            }
          }
          p{
            text-align: center;
            font-size: $normalFontSize26;
          }
        }
        .bonusequal{
          flex: 1 1;
          @include bg-image('../../images/activity/bonusequal');
        }
        >div:last-of-type{
          margin-left: 40px;
          p{
            i{
              display: inline-block;
              vertical-align: middle;
              width:26px;
              height:26px;
              margin-right: 18px;
            }
            span{
              font-size: $normalFontSize26;
              color: #6C6C6C;
              span{
                font-size: 28px;
                margin: 0 5px 0 5px;
              }
              .rmb{
                display: inline-block;
                font-size: $normalFontSize26;
                margin: 0;
                -webkit-transform:scale(0.8);
                color: #6C6C6C!important;
              }
            }
          }
          .radiu_1{
            i{
              @include bg-image('../../images/activity/radiu_1');
            }
            span{
              span{
                color: #FFBF6C
              }
            }
          }
          .radiu_2{
            i{
              @include bg-image('../../images/activity/radiu_2');
            }
            span{
              span{
                color: #8AD9CA
              }
            }
          }
          .radiu_3{
            i{
              @include bg-image('../../images/activity/radiu_3');
            }
            span{
              span{
                color: #EEB1B3
              }
            }
          }
        }
      }
      >div:nth-of-type(3){
        height: 956px;
        border-radius: 10px;
        margin: 22px 20px 20px 20px;
        padding: 20px;
        padding-right: 40px;
        >div:first-of-type{
          display: flex;
          height: 70px;
          >div:first-of-type{
            width: 192px;
            padding-left: 20px;
            display: flex;
            align-items: center;
            i{
              display: inline-block;
              width: 25px;
              height: 25px;
              @include bg-image('../../images/activity/order');
              vertical-align: middle;
            }
            span{
              margin-left: 10px;
              font-size: $normalFontSize;
              color: #363636;
              font-weight: 700;
            }
          }
          >div:last-of-type{
            flex: 1 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            color: #6C6C6C;
            font-size: $normalFontSize24;
          }
        }
        >div:last-of-type{
          table{
            width: 100%;
            thead{
              background: #F3F3F3;
              height: 40px;
              tr{
                th{
                  text-align: center;
                  font-size: $normalFontSize24;
                  color: #6C6C6C;
                  line-height: 40px;
                }
                th:first-of-type{
                  border-top-left-radius: 12px;
                  border-bottom-left-radius: 12px;
                  width: 100px;
                }
                th:nth-of-type(2){
                  text-align: left;
                  padding-left: 40px;
                }
                th:last-of-type{
                  border-top-right-radius: 12px;
                  border-bottom-right-radius: 12px;
                  width: 140px;
                }
              }
            }
            tbody{
              tr{
                height: 74px;
                border-bottom: $grayBorderBottom;
                td{
                  color: #363636;
                  font-size: $normalFontSize24;
                  font-weight: 600;
                  text-align: center;
                }
                td:nth-of-type(2){
                  text-align: left;
                  padding-left: 45px;
                }
              }
              tr:nth-of-type(2){
                td:first-of-type{
                  color: #FFBF6C
                }
              }
              tr:nth-of-type(3){
                td:first-of-type{
                  color: #8AD9CA
                }
              }
              tr:nth-of-type(4){
                td:first-of-type{
                  color: #EEB1B3
                }
              }
            }
          }
          div{
            height: 75px;
            line-height: 75px;
            text-align: right;
            padding-right: 15px;
            span{
              color: #4DA9FA;
              font-size: $normalFontSize26;
              font-weight: 600;
            }
            i{
              display: inline-block;
              width: 9px;
              height: 18px;
              @include bg-image('../../images/activity/arrowright');
              margin-left: 15px;
            }
          }
        }
      }
    }
    //活动详情商家
    .activityMerchant{
      background: #F1F1F1;
      padding: 20px;
      >div{
        background: white;
        border-radius: 10px;
        height: 600px;
        padding: 20px 40px 20px 40px;
        >div:first-of-type{
          height: 210px;
          >div:first-of-type{
            height: 50px;
            display: flex;
            align-items: center;
            >div:first-of-type{
              width:170px;
              display: flex;
              align-items: center;
              i{
                display: inline-block;
                width: 27px;
                height: 27px;
                @include bg-image('../../images/activity/merchantInfo');
              }
              span{
                font-size: $normalFontSize;
                color: #363636;
                margin-left: 20px;
                font-weight: 600;
              }
            }
            >a:last-of-type{
              flex: 1 1;
              display: flex;
              justify-content: flex-end;
              align-items: center;
              i{
                display: inline-block;
                width: 24px;
                height: 22px;
                @include bg-image('../../images/activity/merchantReport');
              }
              span{
                margin-left: 20px;
                font-size: $normalFontSize26;
                color: #6C6C6C
              }
            }
          }
          .merchantImg{
            height: 150px;
            width: 86vw;
            overflow-x: hidden;
            >div{
              width: 150vw;
            }
            img{
              width: 150px;
              height: 150px;
              margin-right:20px;
            }
          }
        }
        p{
          height: 72px;
          border-bottom: $grayBorderBottom;
          display: flex;
          align-items: center;
          span{
            flex: 1 1;
            font-size: $normalFontSize28;
          }
          span:first-of-type{
            text-align: left;
            color: #5B5B5B;
            font-weight: 600;
          }
          span:last-of-type{
            text-align: right;
            color: #6C6C6C
          }
        }
        p:last-of-type{
          border-bottom: none;
        }
      }
    }
    //活动详情评价
    .activityEvaluate{
      height: calc(100vh - 724px);
      height: -moz-calc(100vh - 724px);
      height: -webkit-calc(100vh - 724px);
      overflow: hidden;
      margin: 15px 20px 20px 20px;
      margin-bottom: 0;
      >ul{
        padding: 25px 25px 0px 25px;
        .content-header{
          height: 80px;
          display: flex;
          align-items: center;
          >div:first-of-type{
            width: 123px;
            color: #FF7B4F;
            font-size: 72px;
            font-weight: 600;
            text-align: center;
          }
          >div:nth-of-type(2){
            flex: 1 1;
            padding-left: 12px;
            p:first-of-type{
              color : #6C6C6C;
              font-size: $normalFontSize24
            }
            p:last-of-type{
              @include evaluateStar(3.33333vw, 3.33333vw);
              i{
                margin-left: 10px;
              }
              i:first-of-type{
                margin-left: 0px;
              }
            }
          }
        }
        .selectTab{
          height: 70px;
          ul{
            display: flex;
            height: 100%;
            align-items: center;
            li{
              margin-right: 20px;
              padding: 7px;
              height: 48px;
              background: #DBEEFE;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 3px;
              font-size: $normalFontSize26;
              span{
                font-size: $normalFontSize26;
                -webkit-transform: scale(0.8);
                color: #6C6C6C
              }
            }
            li:nth-of-type(4){
              background: #E4E4E4
            }
            .evaluateActive{
              background: #4DA9FA;
              span{
                color: white;
              }
            }
            .evaluateGray{
              background: #9C9B9B!important;
              span{
                color: white
              }
            }
          }
        }
        .evaluateContent{
          .evaluateItem{
            height: auto;
            display: flex;
            margin-top: 30px;
            padding-right: 40px;
            width: 552px;
            >div:first-of-type{
              width: 108px;
              img{
                width: 108px;
                height: 108px;
              }
            }
            >div:last-of-type{
              flex: 1 1;
              padding-left: 18px;
              >div{
                width: 534px;
              }
              >div:first-of-type{
                span{
                  display: inline-block;
                  width: 264px;
                  height: 30px;
                }
                span:first-of-type{
                  font-size: $normalFontSize28;
                  font-weight: 600;
                  color: #333333
                }
                span:last-of-type{
                  text-align: right;
                  font-size: $normalFontSize26;
                  color: #6C6C6C
                }
              }
              >div:nth-of-type(2){
                display: flex;
                align-items: center;
                height: 50px;
                @include evaluateStar(3.33333vw, 3.33333vw);
                i{
                  margin-left: 6px;
                }
                i:first-of-type{
                  margin-left: 0px;
                }
                span{
                  color: #FF7B4D;
                  margin-left: 20px;
                  font-size: $normalFontSize26;
                }
              }
              >div:nth-of-type(3){
                height: auto;
                font-size: $normalFontSize26;
                color: #333333;
              }
              >div:nth-of-type(4){
                margin-top: 15px;
                img{
                  width: 240px;
                  margin-right: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}
.moreRankingWaper{
  //height: 956px;
  height:calc(100vh - 166px);
  height: -moz-calc(100vh - 166px);
  height: -webkit-calc(100vh - 166px);
  overflow: hidden;
  border-radius: 10px;
  margin: 22px 20px 20px 20px;
  padding: 20px;
  padding-right: 40px;
  background: white;
  .activityInfoContentTitle{
    display: flex;
    height: 70px;
    >div:first-of-type{
      width: 222px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      i{
        display: inline-block;
        width: 25px;
        height: 25px;
        @include bg-image('../../images/activity/order');
        vertical-align: middle;
      }
      span{
        margin-left: 10px;
        font-size: $normalFontSize;
        color: #363636;
        font-weight: 700;
      }
    }
    >div:last-of-type{
      flex: 1 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      color: #6C6C6C;
      font-size: $normalFontSize24;
    }
  }
  .activityInfoContentContainer{
    table{
      width: 100%;
      thead{
        background: #F3F3F3;
        height: 60px;
        tr{
          th{
            text-align: center;
            font-size: $normalFontSize24;
            color: #6C6C6C;
            line-height: 60px;
          }
          th:first-of-type{
            border-top-left-radius: 12px;
            border-bottom-left-radius: 12px;
            width: 100px;
          }
          th:nth-of-type(2){
            text-align: left;
            padding-left: 40px;
          }
          th:last-of-type{
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;
            width: 140px;
          }
        }
      }
      tbody{
        tr{
          height: 84px;
          border-bottom: $grayBorderBottom;
          td{
            color: #363636;
            font-size: $normalFontSize24;
            font-weight: 600;
            text-align: center;
          }
          td:nth-of-type(2){
            text-align: left;
            padding-left: 45px;
          }
        }
        tr:nth-of-type(2){
          td:first-of-type{
            color: #FFBF6C
          }
        }
        tr:nth-of-type(3){
          td:first-of-type{
            color: #8AD9CA
          }
        }
        tr:nth-of-type(4){
          td:first-of-type{
            color: #EEB1B3
          }
        }
      }
    }
    div{
      height: 75px;
      line-height: 75px;
      text-align: right;
      padding-right: 15px;
      span{
        color: #4DA9FA;
        font-size: $normalFontSize26;
        font-weight: 600;
      }
      i{
        display: inline-block;
        width: 9px;
        height: 18px;
        @include bg-image('../../images/activity/arrowright');
        margin-left: 15px;
      }
    }
  }
}
    //底部点赞
    .activityInfoFooter{
      height: 100px;
      position: fixed;
      bottom: 0;
      width: 100%;
      background: white;
      >ul{
        display: flex;
        height: 100%;
        li{
          flex: 1 1;
          width: 50%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          i{
            width: 27px;
            height: 27px;
            vertical-align: middle;
          }
          span{
            margin-left: 20px;
            color:#4DA9FA;
            font-size: $normalFontSize26;
          }
        }
        li:first-of-type{
          i{
            @include bg-image('../../images/activity/willpointblue');
          }
        }
        li:last-of-type{
          i{
            @include bg-image('../../images/activity/mypointblue');
          }
        }
        .pointActive{
          background: #4DA9FA;
          span{
            color: white;
          }
          .willpointActive{
            @include bg-image('../../images/activity/willpointwhite');
          }
          .mypointActive{
            @include bg-image('../../images/activity/mypointwhite');
          }
        }
      }
    }
//举报商家
.reportMerchant{
  .merchantInfo{
    height:80px;
    margin-bottom: 10px;
    background: white;
    line-height: 80px;
    span:first-of-type{
      font-size: $normalFontSize26;
    }
    span:last-of-type{
      margin-left: 40px;
      font-size: $normalFontSize28;
      font-weight: 600
    }
  }
}
//搜索框样式
.am-search{
  height: 60px;
  background: none;
}
.am-search-input{
  height: 60px;
  border-radius: 60px;
  background-color: #2287E1
}
.am-search-input .am-search-synthetic-ph{
  height: 60px;
  line-height: 60px;
}
.am-search-synthetic-ph-container{
  display:inline-block;
  height: 60px;
}
.am-search-input .am-search-synthetic-ph-placeholder{
  display: inline-block;
  color: white;
  height: 60px;
  font-size: $normalFontSize26;
  margin-left: 20px;
  padding-top: 2px;
}
.am-search.am-search-start .am-search-input input[type='search']{
  color: white;
  font-size: $normalFontSize26;
  height: 60px;
  padding: 0 3.73333vw 0 7.66667vw;
}
.am-search-input .am-search-synthetic-ph-icon{
  width: 30px;
  height: 30px;
  background-size: 30px auto;
  @include bg-image('../../images/activity/magnifier');
}
.am-search-cancel-show, .am-search-cancel{
  font-size: $normalFontSize26;
  color: white;
}
.am-search-input .am-search-clear{
  height: 4vw;
  width: 4vw;
  background-size: 4vw 4vw;
  top: 8px;
  right: 8px;
}
//pop
.am-popover{
  //left:0!important
}
.am-popover .am-popover-item-container{
  padding: 5vw 3vw 5vw 3vw
}
.am-popover-item span{
  font-size: $normalFontSize26;
}
.am-popover-item-icon img{
  display: none;
}
.am-popover .am-popover-item-icon{
  width: 4vw;
  height: 4vw;
}
.publishActivity .am-list .am-list-item .am-list-line .am-list-content{
  font-size: $normalFontSize26 !important;
  color: #BBBBBB !important
}

.goldmedal .am-popover-item-icon{
  @include bg-image('../../images/activity/goldmedal');
}
.silvermedal .am-popover-item-icon{
  @include bg-image('../../images/activity/silvermedal');
}
.bronzemedal .am-popover-item-icon{
  @include bg-image('../../images/activity/bronzemedal');
}

//antd-mobile actionsheet样式修改
.am-action-sheet-button-list-item{
  height: 10.66667vw !important;
  line-height: 10.66667vw !important;
  font-size: 3.8vw !important;
}

.am-action-sheet-title, .am-action-sheet-message{
  margin: 3vw auto !important;
  font-size: 4vw !important;
}

//图片缩放
.productImg{
  width: 100%;
  height: 100%;
  #productImg{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    img{
      width: 100%;
    }
  }
}
