@import "./../../utils/variblesAndMixins";

.top-tip{
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #555;
  font-size: 30px;
}
.bottom-tip{
  height: 80px;
  line-height: 80px;
  text-align: center;
  color: #777;
  background: #f2f2f2;
}
.activityContent {
 // height: 792px !important;
 height: calc(100% - 443px);
 height: -moz-calc(100% - 443px);
 height: -webkit-calc(100% - 443px);
  background: #fff;
  overflow: hidden;
  position: relative;
	.ActivityContent {

		.activityItem {
			margin-left: 20px;
			height: 218px;
			display: flex;
			border-bottom: $grayBorderBottom;
      padding: 36px 0 36px 0;

      &:last-child{
        border-bottom: none;
      }

			> div:first-of-type {
        width: 142px;
        height: 142px;
				img {
          width: 100%;
          height: 100%;
          display: block;
				}
			}
			> div:nth-of-type(2) {
				flex: 1 1;
				display: flex;
				flex-direction: column;
				padding-left: 32px;
				p:first-of-type {
					font-size: 26px;
					color: #373737;
					font-weight: 600;
				}
				p:nth-of-type(2) {
					font-size: 22px;
					color: #9e9e9e;
				}
				p:nth-of-type(3) {
					i {
						display: inline-block;
						width: 28px;
						height: 20px;
					}
					.orangeStar {
						@include bg-image('../../images/activity/pentagram1');
					}
					.grayStar {
						@include bg-image('../../images/activity/pentagram2');
					}
					span {
						margin-left: 20px;
						font-size: 22px;
						color: #9e9e9e;
					}
				}
				p:last-of-type {
					display: flex;
					> span {
						display: inline-block;
						border-radius: 3px;
						line-height: 26px;
						height: 26px;
						text-align: center;
						background: #cccccc;
						color: #ffffff;
						margin-right: 20px;
						span {
							display: inline-block;
              font-size: 20px;
              vertical-align:middle;
							-webkit-transform: scale(0.8);
							display: inline-block;
							height: 26px;
              line-height: 30px;         
						}
						i {
							display: inline-block;
							@include bg-image('../../images/activity/goodicon');
							width: 18px;
              height: 20px;
              vertical-align: middle;
						}
					}
					> span:first-of-type {
						width: 106px;
						display: flex;
						justify-content: center;
						align-items: center;
					}
					> span:last-of-type {
						width: 90px;
					}
				}
			}
			.bonusequal {
				@include bg-image('../../images/activity/bonusequal');
				margin-right: 10px;
				margin-bottom: 20px;
				margin-left: 20px;
			}
			> div:last-of-type {
				width: 278px;
				padding-top: 20px;
				p {
					i {
						display: inline-block;
						vertical-align: middle;
						width: 26px;
						height: 26px;
						margin-right: 18px;
					}
					span {
						font-size: 22px;
						color: #797979;
						span {
							font-size: 28px;
							margin: 0 5px 0 5px;
						}
						.rmb {
							display: inline-block;
							font-size: 24px;
							margin: 0;
							-webkit-transform: scale(0.8);
							color: #797979 !important;
						}
					}
				}
				.radiu_1 {
					i {
						@include bg-image('../../images/activity/radiu_1');
					}
					span {
						span {
							color: #ffbf6c;
						}
					}
				}
				.radiu_2 {
					i {
						@include bg-image('../../images/activity/radiu_2');
					}
					span {
						span {
							color: #8ad9ca;
						}
					}
				}
				.radiu_3 {
					i {
						@include bg-image('../../images/activity/radiu_3');
					}
					span {
						span {
							color: #eeb1b3;
						}
					}
				}
			}
		}
		> div:first-of-type {
			//margin-top: 20px;
		}
	}
}
