//根据设备像素比切换@2x和@3x
@mixin bg-image($url) {
  background-image: url($url + "@2x.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  @media (-webkit-min-device-pixel-ratio: 3),(min-device-pixel-ratio: 3) {
      background-image: url($url + "@3x.png");
  }
}

//水平flex两边布局
@mixin flexHorizen($justify: space-between) {
  display: flex;
  justify-content: $justify;
  align-items: center;
}

@mixin imgSize($width, $height, $marginL) {
  .img{
    width: $width;
    height: $height;
    margin-left: $marginL;

    img{
      width: 100%;
      height: 100%;
      display: block;
    }
  }
}

@mixin submitBtn($height: 13.067vw, $lineHeight: 13.067vw, $fontSize: 4vw) {
  background: #4ba9fa;
  height: $height;
  text-align: center;
  line-height: $lineHeight;
  font-size: $fontSize;
  a{
    color: #fff;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

//1px 灰色底部边框
$grayBorderBottom: 1px solid #ebebeb;

